body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #7db9e8;
}

.section {
    padding: 6rem 2rem 2rem 2rem;
    margin-top: 4rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hidden {
    display: none;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.project-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.social-links a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

social-links a:hover {
    color: #7db9e8;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

form input, form textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    padding: 0.8rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #7db9e8;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.project-card h2 a {
    color: #333; /* Link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease;
}

.project-card h2 a:hover {
    color: #7db9e8; /* Change color on hover */
}

.project-card a {
    color: #333; /* Link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease;
}

.project-card a:hover {
    color: #7db9e8; /* Change color on hover */
}